@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TBC X", "arial";
}

/* give child and parent elements style so they 
stay centered and do not exceed certain width */

.child {
    max-width: 980px;
    width: 100%;
}

.parent-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Start of header styles */

.header-container {
    background-color: red;
    display: flex;
    justify-content: center;
    height: 84px;
    color: white;
    background-color: rgba(26, 30, 31);
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 10000;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items img {
    width: 182px;
    height: 42px;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-block: 20px;
    gap: 49px;
    font-weight: 300;
}

.header-list-item {
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
}

.header-list-item:hover {
    color: rgb(0 163 224);
}

.header-list-item:nth-child(3) {
    color: rgb(0 163 224);
}

.toggle-opacity {
    background-color: rgba(34, 34, 34, 0.95);
}

/* end of header styles */


/*start of main styles */

.main-title-container {
    background: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1471,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
    padding: 96px 140px;
    font-size: 42px;
    color: white;
    height: 352px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
}

/* make image position better on wider screens */

@media (min-width: 1500px) {
    .main-title-container {
        background-position: 100% 45%;
    }
}

.main-title-container h5 {
    margin-bottom: 15px;
    font-size: 42px;
}

.main-title-container h6 {
    font-size: 34px;
}

.main-description-container {
    background-color: rgb(43, 43, 43);
    padding: 56px 0;
    color: white;
}

.main-description-text {
    font-size: 27px;
    line-height: 1.6em;
    margin-bottom: 43px;
}

.main-learn-more {
    color: rgb(0 163 224);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.main-learn-more:hover {
    color: grey;
}

/* end of main styles */


/* start of courses styles */

.courses-container {
    background-color: #161616;
    color: white;
    padding: 34px 0 58px;
}

.courses-title {
    font-size: 23.625px;
    margin-bottom: 65px;
}

/* start of course cards styles */

.courses-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    row-gap: 23px;
    max-width: 980px;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #555;
}

.card-contents-container {
    display: flex;
    flex-direction: column;
    padding: 0 22px 28px;
}

.card-image {
    margin-bottom: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-size: 17px;
    margin-bottom: 28px;
}

.card-state {
    margin-bottom: 105px;
    font-size: 13px;
}

.card-details {
    display: flex;
    align-items: center;
    color: #00AEEF;
    cursor: pointer;
    width: fit-content;
    transition: color 0.3s ease;
}

.card-details:hover {
    color: rgb(0 128 176)
}

.card-details img {
    margin-right: 10px;
}

/* end of courses styles */
/* end of course cards styles */

/* start of sponsors styles */

.sponsors-container {
    background-color: #2B2B2B;
    padding: 36px;
    position: relative;
    min-height: 363px;
    align-items: center;
}

.sponsors-title {
    color: white;
    font-size: 24px;
}

.sponsor-page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-top: 66px;
    padding-top: 70px;
    justify-content: space-between;
    transition: opacity 1s ease-in-out;
}

#second-page {
    opacity: 0;
}

#third-page{
    justify-content: center;
    opacity: 0;
}

.arrows-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#prev-arrow {
    margin-left: 100px;
}

#next-arrow {
    margin-right: 100px;
}

.arrow-svg:hover path {
    stroke: grey;
}

.arrow-svg:hover {
    cursor: pointer;
}

.dots-container {
    position: absolute;
    top: 75%;
    color: white;
    user-select: none;
}

.dots-container span {
    padding: 3px;
    cursor: pointer;
    font-size: 24px;
}

/* end of sponsors styles */

/* start of FAQ styles */

.faq-container {
    background-color: #161616;
    color: white;
    padding: 105px 0 83px;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 21px;
    max-width: 900px;
}

.all-questions {
    color: #00AEF3;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.all-questions:hover {
    color:#a0a0a0;
}

.faq-questions-list {
    list-style: none;
    max-width: 900px;
}

.question {
    cursor: pointer;
    user-select: none;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid rgb(66, 65, 65);
    font-size: 18px;
    display: flex;
    align-items: center;
}

.question-arrow {
    margin-left: auto;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

/* end of FAQ styles */

/* start of footer styles */

.footer-container {
    background-color: #1A1E1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 228px;
}

.footer-content-width-adjust {
    padding: 65px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}